body {
    margin: 0;
    padding: 0;
    background-color: #f5d6a5bd;
    /* background-image: url("./src/img/background.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    font-family: 'Caveat Brush', cursive;
}

ul {
    display: grid;
    grid-template-columns: repeat(9, 5vw);
    grid-template-rows: repeat(9, 5vw);
    justify-content: center;
    align-content: center;
    grid-gap: 0.2rem;
    list-style: none;
    margin: 0 0 2vw;
    padding: 0;
}


#buttons-grid {
    grid-template-rows: repeat(1, 5vw);
}

@media screen and (max-width: 800px) {
    ul {
        grid-template-columns: repeat(9, 9vw);
        grid-template-rows: repeat(9, 9vw);
        align-self: center;
    }

    #buttons-grid {
        grid-template-rows: repeat(1, 9vw);
    }
}

li {
    margin: 0;
    padding: 0;
    background-color: #f5d6a5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 8px;
}

li img {
    width: 100%;
    border-radius: 8px;

}

ul :hover {
    background-color: rgba(95, 158, 160, 0.473);
    cursor: pointer;
}

.selected {
    background-color: rgba(42, 172, 9, 0.308);
}

.wrong {
    background-color: rgba(255, 0, 0, 0.404);
}

.initial-value{
    background-color: rgba(128, 128, 128, 0.137);
}

.initial-value :hover{
    background-color: rgba(128, 128, 128, 0.137);
}

span {
    margin-top: 0.4rem;
}

#menu-container {
    position: absolute;
    background-color: #f86a0be0;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

#win-container{
    color: #f86a0be0;
    font-size: 1.5em;
    position: absolute;
    background-color: #f5d6a5;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: -100vh;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

.menu-button{
    width: 5vw;
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;
}

#menu-hamb-icon{
    left: -100vw;
    transition-duration: 300ms;
}

#loading {
    position: absolute;
    top: 40vh;
    display: none;
    animation: rotate 4s linear infinite;
    width: 20vw;
}

@keyframes rotate {
    from {
       transform: rotate(0deg);
      }
      to {
        
        transform: rotate(360deg);
      }
}

button {
    font-family: 'Caveat Brush', cursive;
    width: 7em;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    color: antiquewhite;
    font-size: 2em;
    cursor: pointer;
}

#repeat-btn{
    background-color: #fca746;
    width: 4em;
}

.gif{
    width: 50%;
}