body {
  margin: 0;
  padding: 0;
  background-color: #f5d6a5bd;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  font-family: "Caveat Brush", cursive;
  color: antiquewhite;
  text-shadow: 6px 3px 5px rgba(0, 0, 0, 0.28);
}

#timer {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
}

ul {
  display: grid;
  grid-template-columns: repeat(9, 5vw);
  grid-template-rows: repeat(9, 5vw);
  justify-content: center;
  align-content: center;
  grid-gap: 0.4em;
  list-style: none;
  margin: 0 0 2vw;
  padding: 0;
}

.right-border {
  border-right: 3px solid #fca746;
}

.bottom-border {
  border-bottom: 3px solid #fca746;
}

.main-title {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 3em;
}

#buttons-grid {
  grid-template-rows: repeat(1, 5vw);
}

li {
  margin: 0;
  padding: 0;
  background-color: #f5d6a5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 8px;
}

li img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.28);
  transition: 300ms;
}

ul :hover {
  transition: 300ms;
  background-color: rgba(95, 158, 160, 0.473);
  cursor: pointer;
}

.selected {
  background-color: rgba(42, 172, 9, 0.308);
}

.wrong {
  background-color: rgba(255, 0, 0, 0.404);
}

.initial-value {
  background-color: rgba(128, 128, 128, 0.137);
}

ul .initial-value :hover {
  background-color: rgba(128, 128, 128, 0.137);
}

span {
  margin-top: 0.4em;
}

#menu-container {
  position: absolute;
  background: rgb(255, 225, 204);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.912) 0%,
    rgba(248, 106, 11, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}

#win-container {
  color: #f86a0be0;
  font-size: 1.5em;
  position: absolute;
  background: rgb(255, 190, 86);
  background: linear-gradient(
    0deg,
    rgba(255, 190, 86, 1) 0%,
    rgba(245, 214, 165, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: -100vh;
  text-align: center;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}

.menu-button {
  width: 5vw;
  position: absolute;
  top: 20px;
  left: 10px;
  cursor: pointer;
}

#menu-hamb-icon {
  left: -100vw;
  transition-duration: 300ms;
}

#loading {
  position: absolute;
  display: none;
  animation: rotate 4s linear infinite;
  width: 20vw;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  font-family: "Caveat Brush", cursive;
  width: 6em;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  color: antiquewhite;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #fca746;
  transition: 300ms;
  box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.28);
}

button:hover {
  background-color: #00966f;
  transform: scale(1.1);
}

button:focus {
  box-shadow: none;
}

#repeat-btn {
  width: 4em;
}

#get-btn {
  margin-bottom: 0.5em;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.gif {
  width: 50%;
}

#timer {
  margin: 0;
  padding: 0;
  color: #00966f;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: large;
}

#menu-close-icon {
  display: none;
}

.difficulty-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficulty-button {
  padding: 0.5em 1em;
  margin-bottom: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fca746;
  background-color: #f5d6a5;
  font-size: large;
  transition: 300ms;
  box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.28);
}

.difficulty-button:hover {
  background-color: #f5d6a5;
  z-index: 2;
  box-shadow: 6px 10px 5px rgba(0, 0, 0, 0.28);
}

.difficulty-button.selected {
  color: #00966f;
  box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.28);
}

.difficulty-button.selected:hover {
  z-index: 2;
  box-shadow: 6px 10px 5px rgba(0, 0, 0, 0.28);
}

.difficulty-button.selected::after {
  content: "✔";
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.modal-content {
  color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px 20px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  background-color: #00966f;
  box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.28);
}

.modal-content h2 {
  margin: 0;
  padding-bottom: 1em;
  font-size: 2em;
}

#start-game-btn {
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #fca746;
  border: none;
  border-radius: 5px;
  color: antiquewhite;
  transition: 300ms;
  box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.28);
}

@media screen and (max-width: 800px) {
  ul {
    grid-template-columns: repeat(9, 9vw);
    grid-template-rows: repeat(9, 9vw);
    align-self: center;
  }

  #buttons-grid {
    grid-template-rows: repeat(1, 9vw);
  }

  li img {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);
  }

  .main-title {
    font-size: 2em;
  }
}

@media screen and (min-width: 1200px) {
  ul {
    grid-template-columns: repeat(9, 3vw);
    grid-template-rows: repeat(9, 3vw);
  }

  #buttons-grid {
    grid-template-rows: repeat(1, 3vw);
  }

  .menu-button {
    width: 2vw;
  }

  .gif {
    width: 30%;
  }

  #loading {
    width: 10vw;
  }
}
