body {
    background-color: #f5d6a5bd;
    /* background-image: url("./src/img/background.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(9, 5vw);
    grid-template-rows: repeat(9, 5vw);
    justify-content: center;
    align-content: center;
    grid-gap: 0.2rem;
    list-style: none;
    margin: 0 0 2vw;
    padding: 0;
}


#buttons-grid {
    grid-template-rows: repeat(1, 5vw);
}

@media screen and (max-width: 800px) {
    ul {
        grid-template-columns: repeat(9, 9vw);
        grid-template-rows: repeat(9, 9vw);
        align-self: center;
    }

    #buttons-grid {
        grid-template-rows: repeat(1, 9vw);
    }
}

li {
    margin: 0;
    padding: 0;
    background-color: #f5d6a5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 8px;
}

li img {
    width: 100%;
}

ul :hover {
    background-color: cadetblue;
    cursor: pointer;
}

.selected {
    background-color: tomato;
}

.wrong {
    background-color: red;
}

span {
    margin-top: 0.4rem;
}

#menu-container {
    position: absolute;
    background-color: #f86a0bce;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#loading {
    display: none;
}

button {
    border: none;
    background-color: transparent;
}